body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Стили для таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Стили для заголовков таблицы */
.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Стили для ячеек таблицы */
.table td {
    padding: 10px;
}

/* Полосатый фон для четных строк таблицы */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Подсветка строки при наведении */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Стили для контейнера таблицы */
.table-container {
    margin-top: 20px;
}

/* Скрываем все секции, кроме той, на которую указывает URI-цель */
section:not(:target) {
    display: none;
}

/* Отображаем секцию категорий по умолчанию */
#categories {
    display: block;
}

.product-image {
    max-width: 100px; /* Ширина изображения будет не более 100 пикселей */
    height: auto; /* Сохранение пропорций изображения */
}

/* Стилизация главного изображения */
.main-photo {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

/* Стилизация маленьких фотографий */
.additional-photos {
    display: flex;
    flex-wrap: wrap;
}

.additional-photo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    object-fit: cover;
}
/* Вставьте этот CSS код в ваш файл стилей */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 0;
}

.delete-btn:hover {
    background-color: darkred;
}


