body {
    background-color: #fff;
    color: #000;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    color: #000;
}
.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.red-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.red-button:hover {
    background-color: #d32f2f;
}
.checkout-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.checkout-button:hover {
    background-color: #333;
}
.total-price {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: right;
}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination-bottom {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    color: #337ab7;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #ffffff; /* Added background color */
    border: 1px solid #dddddd; /* Added border */
    border-radius: 3px; /* Added border-radius */
    transition: background-color 0.3s, color 0.3s; /* Added transition for smooth hover effect */
}

.pagination li a:hover:not(.active) {
    background-color: #dddddd; /* Background color change on hover */
    color: #337ab7; /* Text color change on hover */
}

.pagination li.disabled a {
    color: #777777;
    cursor: not-allowed;
    background-color: #f9f9f9; /* Added background color for disabled state */
    border: 1px solid #dddddd; /* Added border for disabled state */
}

.pagination li.active a {
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #337ab7; /* Added border for active state */
}

.black-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
a.main-page-link {
    color: #000;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 1.2em;
}