<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Orders</title>
    <link rel="stylesheet" href="/static/css/OrderAll.css">
</head>
<body>
<h3>All Orders</h3>
<div th:each="order : ${orders}">
    <!-- Order ID at the top of each order section -->
    <h4 class="order-id">Order ID: <span th:text="${order.id}"></span></h4>
    <div th:each="cart : ${order.carts}">
        <h5 class="cart-header">Cart</h5>
        <p th:text="'Created on: ' + (${cart.createCart} != null ? ${#dates.format(cart.createCart, 'dd/MM/yyyy HH:mm')} : 'N/A')">Created on: Date</p>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Image</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productInfo : ${cart.productInfos}">
                <td th:text="${cart.createCart != null ? #dates.format(cart.createCart, 'dd/MM/yyyy HH:mm') : 'N/A'}">Date</td>
                <td th:text="${productInfo.product.name}">Product Name</td>
                <td th:text="${productInfo.product.price != null ? #numbers.formatDecimal(productInfo.product.price, 3, 2) : ''}">Price</td>
                <td th:text="${productInfo.quantity}">Quantity</td>
                <td th:text="${#numbers.formatDecimal(productInfo.product.price * productInfo.quantity, 3, 2)}">Total</td>
                <td>
                    <img th:src="@{'/images/' + ${productInfo.product.id}}" th:alt="${productInfo.product.name}" class="product-image">
                </td>
                <td th:text="${order.deliveryStatus}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>



