<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/regisstration.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

<form action="/registration" method="post" th:object="${customer}">
    <label for="firstname">First Name:</label><br>
    <input type="text" id="firstname" name="firstname" th:field="*{firstname}" placeholder="First Name" required autocomplete="given-name"><br>

    <label for="lastname">Last Name:</label><br>
    <input type="text" id="lastname" name="lastname" th:field="*{lastname}" placeholder="Last Name" required autocomplete="family-name"><br>
    <label for="phone">phone:</label><br>
    <input type="text" id="phone" name="lastname" th:field="*{phone}" placeholder="phone" required autocomplete="phone"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:field="*{email}" placeholder="Email" required autocomplete="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" required autocomplete="new-password"><br>

    <label for="street">Street:</label><br>
    <input type="text" id="street" name="street" th:field="*{street}" placeholder="Street" required autocomplete="street-address"><br>

    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" th:field="*{city}" placeholder="City" required autocomplete="address-level2"><br>

    <label for="zipCode">Zip Code:</label><br>
    <input type="text" id="zipCode" name="zipCode" th:field="*{zip}" placeholder="Zip Code" required autocomplete="postal-code"><br>

    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country" th:field="*{state}" placeholder="Country" required autocomplete="country"><br>

    <button type="submit">Register</button>
</form>
</body>
</html>

